<div id="<%= dom_id student %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= student.first_name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= student.last_name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Guardian:</strong>
    <%= student.guardian_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Birthday:</strong>
    <%= student.birthday %>
  </p>
</div>
