<%= turbo_stream.update "availability_slots_#{@day}" do %>
  <div class="selected-slots text-blue-500 mt-2 flex flex-wrap gap-2 justify-center">
    <% selected_slots = @user_availabilities.select { |a| a.day == @day }
      .sort_by(&:start_time)
      .chunk_while { |prev, curr| prev.end_time == curr.start_time }
      .map { |chunk| "#{chunk.first.start_time.strftime('%I:%M %p')}-#{chunk.last.end_time.strftime('%I:%M %p')}" } %>
    
    <% selected_slots.each do |slot| %>
      <div class="border border-gray-300 px-3 py-1 rounded cursor-pointer"><%= slot %></div>
    <% end %>

    <%= selected_slots.present? ? '' : 'No Slots Available' %>
  </div>
<% end %>

<%= turbo_stream.replace "availability_slot_options_#{@day}" do %>
  <%= render partial: 'user_availabilities/slots', locals: { day: @day, user_availabilities: @user_availabilities } %>
<% end %>
